/* header */

header
{
    max-width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    margin: auto;
}

#top_header
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
}

@media only screen and (min-width: 500px)
{
    #top_header
    {
        flex-direction: row;
    }
}

#logo
{
    width: 150px;
}

#membre
{
    display: flex;
    min-width: 200px;
}

#photo_membre
{
    width: 50px;
    height: 50px;
    margin: 12px;
}

a:link 
{
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited 
{
    color: darkred;
}
  
a:hover 
{
    color: red;
    text-decoration: underline;
}

#bienvenue
{
    margin:20px auto 0;
    width: max-content;
    font-size: larger;
    color: crimson;
}

/* index */

section
{
    max-width: 900px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p
{
    text-align: justify;
    margin-left: 30px;
}

.separateur
{
    border-top: solid darkred 3px;
    margin: 50px 5% 25px;
    flex:3;
    padding-top: 10px;
}

#illustration
{
    width: 80%;
    margin: 0 10%;
}

.bloc_acteur
{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    border: 2px solid darkred;
    border-radius: 5px;
    margin: 20px 5px;
    padding: 5px;
}

.logo_acteur
{
    float: left;
    margin:auto;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 500px)
{
    .logo_acteur
    {
        margin:0em;
        width: 250px;
    }
}

h3
{
    min-width: max-content;
    margin-left: 20px;
}

.texte_acteur
{
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.suite
{
    margin-left: auto;
    border: 2px solid darkred;
    border-radius: 10px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.suite:hover 
{
    background-color: darkred;
    color: white;
}

/* signup */

#error_message
{
    text-align: center;
    font: large;
    color: red;
}

#form
{
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.form_div
{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.categorie
{
    margin: 15px 0 -5px;
    width: 40%;
    text-align: center;
}

.categorie2
{
    width: 40%;
    text-justify: none;
    margin: 0;
}

@media only screen and (min-width: 500px) 
{
    .form_div
    {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .categorie
    {
        margin: 0;
        width: 40%;
        text-align: start;
    }
}

#question_box
{
    margin: auto;
}

.form_div2
{
    width: auto;
    margin: auto;
}

div > input
{
    width: 250px;
    margin: 15px 0;
}

div > textarea
{
    width: 250px;
    overflow-y: visible;
    resize: none;
    margin: 15px 0;
}

#valider
{
    border: 2px solid darkred;
    border-radius: 10px;
    color: black;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: min-content;
}

#valider:hover 
{
    background-color: darkred;
    color: white;
}

/* acteur */

#illu_acteur
{
    display: flex;
    max-width: 70%;
    margin: auto;
}

#description_acteur
{
    text-align: justify;
}

#header_coms
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#compteur_com
{
    display:flex;
    flex-wrap: wrap;
    font-size: large;
    min-width: 30px;
}

#hidden_com
{
    display:none;
}


@media only screen and (max-width: 499px)
{
    #hidden_com
    {
        display:inline;
    }
}

#hidden_com2
{
    display:none;
}


@media only screen and (min-width: 500px)
{
    #hidden_com2
    {
        display:inline;
    }
}

#votes
{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    border: rgb(139, 0, 0) solid 3px;
    border-radius: 5px;
    margin: 5px 10px;
}

@media only screen and (min-width: 500px)
{
    #votes
    {
        flex-direction: row;
        margin: 5px 10px;
        max-height: 30px;
        padding: 5px;
    }
}

#compteur_votes
{
    margin: -6px 0 -4px;
}

@media only screen and (min-width: 500px)
{
    #compteur_votes
    {
        margin: 0;
    }
}

details > summary
{
    list-style: none;
    display: flex;
}

details > summary::-webkit-details-marker 
{
    display: none;
}

#nouveau_com
{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

#button_com
{
    border: 3px solid darkred;
    border-radius: 5px;
    color: black;
    padding: 10px 16px;
    text-align: center;
    display: grid;
    font-size: medium;
    margin: 5px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    width: min-content;
}

#button_com:hover 
{
    background-color: darkred;
    color: white;
}

@media only screen and (min-width: 500px)
{
    #button_com
    {
        font-size: large;
    }
}

details > form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

details > form > textarea
{
    border: 2px solid gray;
    border-radius: 4px;
    min-height: 10em;
    width: 100%;
    padding: 5px;
    text-align: justify;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

details > form > input[type=submit]
{
    margin: 20px;
}

.header_com
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: min-content;
}

.prenom_com
{
    margin:0;
    height: min-content;
}

.date
{
    margin:0;
    height: min-content;
}

.commentaire
{
    border: darkred solid 3px;
    margin: 10px 30px;
    border-radius: 10px;
    padding: 1%;
}

#pagin_com
{
    padding-top: 5px;
    padding-left: 5px;
    font-size: large;
}

/* footer */

footer
{
    max-width: 900px;
    margin: -20px auto 25px;
    padding-top: 10px;
}

#footer
{
    text-align: center;
}